@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --color-extralightpink: #FEF3F5;
  --color-lightpink: #FDECEF;
  --color-dustypink: #E8B4BC;
  --color-lightgray: #D9DCE1;
  --color-coolbeige: #EAE3DC;
  --color-darkpink: #B35A72;
  --color-mauve: #8A4257;
  --color-slategray: #6C6F7D;
  --color-charcoal: #3B3B3B;
  --color-snowwhite: #FAFAFA;
}

@theme inline {
  --input-shadow: 0 0 4px rgba(0,115,187,.3);
  --modal-background: rgba(0,0,0,.4);
}

@layer components {
  /** layout */
  .outer-layout {
    @apply flex h-screen flex-col overflow-hidden;
  }
  .nav-layout {
    @apply h-[60px] w-full px-8 flex shrink-0 items-center justify-center z-50 bg-snowwhite md:h-[80px] xl:px-12;
    box-shadow: 0 2px 0 rgba(0,0,0,0.04);
  }
  .nav-layout-inner {
    @apply max-w-[1440px] w-full flex items-center justify-between;
  }
  .page-layout {
    @apply h-full w-full p-8 flex flex-1 justify-center overflow-y-auto xl:p-12;
  }
  .page-layout-inner {
    @apply max-w-[1440px] w-full flex flex-col;
  }
  .full-screen-page-layout {
    @apply min-h-0 w-full p-8 flex flex-1 justify-center xl:p-12;
  }
  .full-screen-page-layout-inner {
    @apply min-h-0 max-w-[1440px] w-full flex flex-col flex-1;
  }
  .homepage-layout {
    @apply h-full w-full flex flex-col flex-1 gap-1 overflow-y-auto;
  }
  .homepage-layout-inner {
    @apply p-8 xl:p-12;
  }
  .homepage-layout section.bg-texture {
    @apply relative flex flex-col h-[calc(100vh-60px)] md:h-[calc(100vh-80px)] shrink-0
      bg-[url('/images/bg-texture.png')] bg-cover bg-center bg-no-repeat;
  }
  .homepage-layout section:not(.bg-texture) {
    @apply max-w-[1440px] w-full m-auto py-12 xl:py-16;
  }

  /** navigation **/ 
  .nav-button {
    @apply w-[40px] h-[40px] flex items-center justify-center rounded-full shadow-[0_1px_2px_rgba(0,0,0,0.06)] hover:shadow-[0_2px_4px_rgba(0,0,0,0.08)] transition md:w-[50px] md:h-[50px];
    background: #F3F3F3;
  }
  .nav-submenu {
    @apply absolute p-2 w-[225px] top-[45px] right-0 bg-white shadow-[0_1px_3px_rgba(0,0,0,0.04)] border border-black/5 rounded-xl md:w-[250px] md:top-[55px];
  }
  .nav-submenu li {
    @apply p-2 flex gap-2 font-light rounded-xl hover:bg-[#F5F5F5];
  }
  .breadcrumb a, .breadcrumb p {
    @apply text-base font-extralight xl:text-lg;
  }
  

  /** headings **/ 
  h1 {
    @apply text-5xl/14 font-light xl:text-6xl/18;
  }
  h2 {
    @apply text-4xl font-light xl:text-5xl;
  }
  h3 {
    @apply text-3xl font-light xl:text-4xl;
  }
  h4 {
    @apply text-2xl font-light xl:text-3xl;
  }
  h5 {
    @apply text-lg font-normal xl:text-xl;
  }
  p.subheading {
    @apply text-xl font-extralight xl:text-2xl;
  }
  p.description {
    @apply text-lg font-extralight xl:text-xl;
  }
  p.description-sm {
    @apply text-base font-extralight xl:text-lg;
  }
  p.required,
  p.review-user {
    @apply mt-6 text-sm font-normal;
  }

  /** buttons & links **/ 
  .button-primary {
    @apply min-w-[100px] px-4 py-2 text-snowwhite bg-darkpink rounded-[10px] cursor-pointer hover:bg-mauve transition-colors;
  }
  .button-secondary {
    @apply min-w-[100px] px-4 py-2 text-darkpink bg-transparent border border-darkpink rounded-[10px] cursor-pointer hover:text-mauve hover:border-mauve transition-colors;
  }
  .button-disabled {
    @apply min-w-[100px] px-4 py-2 text-charcoal bg-lightgray border border-lightgray rounded-[10px] cursor-not-allowed;
  }
  .link {
    @apply font-normal! cursor-pointer hover:text-mauve transition-colors;
  }
  .link-cta {
    @apply inline-flex items-center gap-1 text-darkpink hover:text-mauve transition-colors;
  }

  /** reusable components **/ 
  .cards {
    @apply pb-8 grid gap-8 md:grid-cols-2 lg:grid-cols-3 lg:gap-16 xl:pb-16 xl:grid-cols-4;
  }
  .cards-outline {
    @apply relative p-4 flex border border-lightgray rounded-3xl;
  }
  
  .review-cards {
    @apply mt-6 grid gap-6 lg:grid-cols-2 lg:gap-8;
  }
  .review-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .flex-cards {
    @apply w-full flex flex-1 gap-4;
  }
  .flex-card {
    @apply w-full p-12 flex flex-col gap-10 bg-extralightpink border border-dashed border-lightgray rounded-2xl;
  }
  .tabs {
    @apply w-full pb-8 flex flex-col gap-8 xl:pb-16 xl:flex-row xl:gap-16;
  }
  .tab-title {
    @apply hidden w-full md:flex md:gap-6 xl:w-1/5 xl:flex-col xl:gap-0;
  }
  .tab-title button {
    @apply p-4 text-lg font-normal text-center border-b-2 border-b-lightgray border-l-4 border-l-transparent cursor-pointer xl:text-left xl:border-b-1 xl:hover:bg-[#F5F5F5] transition-colors;
  }
  .tab-title button:first-of-type {
    @apply xl:border-t xl:border-t-lightgray;
  }
  .tab-title button.active {
    @apply border-b-dustypink xl:bg-[#F5F5F5] xl:border-b-lightgray xl:border-l-dustypink;
  }
  .tab-title-select {
    @apply block py-4 text-lg font-semibold border-b-2 border-b-dustypink md:hidden;
  }
  .tab-content {
    @apply w-full xl:w-4/5;
  }
  .tab-content-heading {
    @apply hidden pb-6 xl:block;
  }
  .tabs input {
    @apply border-lightgray focus:border-dustypink;
  }
  .tabs img {
    @apply rounded-full;
  }
  .toggle-switch {
    @apply relative inline-block w-[50px] h-[22px];
  }
  .toggle-switch input { 
    @apply w-0 h-0 opacity-0;
  }
  .slider { 
    @apply absolute w-full h-full bg-lightgray rounded-[24px] cursor-pointer transition-colors;
  }
  .slider::before {
    @apply content-[""] absolute w-[20px] h-[20px] left-[1px] bottom-[1px] bg-snowwhite rounded-full transition-transform;
  }
  .toggle-switch input:checked + .slider {
    @apply bg-darkpink;
  }
  .toggle-switch input:checked + .slider::before {
    @apply translate-x-[28px];
  }
  .checklist {
    @apply space-y-2;
  }
  .checklist li {
    @apply flex items-start gap-2 text-lg font-extralight xl:text-xl;
  }
  .checklist li span {
    @apply xl:pt-[2px];
  }
  .swiper {
    @apply w-full h-auto;
  }
  .swiper-button-prev, .swiper-button-next {
    @apply text-darkpink!;
  }
  :is(.swiper-button-prev, .swiper-button-next).swiper-button-disabled {
    @apply text-dustypink! opacity-100!;
  }
  .swiper-pagination-bullet {
    @apply bg-slategray!;
  }
  .swiper-pagination-bullet-active {
    @apply bg-darkpink!;
  }
  .swiper-slide img {
    @apply w-full h-auto;
  }
  .swiper-slide p {
    @apply pt-4 pb-12 text-xl font-extralight text-center md:text-2xl;
  }

  /** modals & alerts **/ 
  .modal {
    @apply fixed h-full w-full inset-0 flex items-center justify-center bg-(--modal-background) z-99;
  }
  .modal-inner {
    @apply relative max-h-[90%] w-[90%] px-4 py-4 bg-snowwhite rounded-lg overflow-scroll lg:w-3/5 lg:px-6 lg:py-8 xl:w-2/5;
  }
  .modal-alert-inner {
    @apply relative w-[90%] px-4 py-4 flex flex-col gap-4 bg-snowwhite rounded-lg overflow-scroll lg:w-2/5 lg:px-6 lg:py-8 xl:w-1/5;
  }
  .modal-heading {
    @apply text-darkpink;
  }
  .modal-close {
    @apply shrink-0 size-6 cursor-pointer lg:size-8;
  }
  .menu-modal {
    @apply absolute min-w-30 p-2 flex flex-col gap-2 bg-snowwhite border border-lightgray rounded-[10px] z-99;
  }
  .menu-modal-item {
    @apply px-2 py-1 text-left text-base font-light rounded-sm cursor-pointer hover:bg-lightpink xl:text-lg;
  }
  .menu-modal-expand {
    @apply shrink-0 size-9 cursor-pointer;
  }

  /** forms **/ 
  .form-layout {
    @apply h-fit max-w-3xl px-8 py-6 bg-snowwhite rounded-3xl xl:px-12 xl:py-10;
  }
  .form-heading {
    @apply pb-2 text-center;
  }
  .form-description {
    @apply pb-4 text-center;
  }
  label, legend {
    @apply block mb-1 font-normal;
  }
  .input {
    @apply h-[40px] px-4 py-3 mb-6 font-light border border-lightgray rounded-[10px] focus:outline-none focus:border-darkpink focus:shadow-(--input-shadow);
  }
  textarea {
    @apply font-light;
  }
  textarea.input {
    @apply h-[100px] lg:h-auto
  }
  .input-file {
    @apply file:px-3 file:py-1 file:mr-2 file:font-light file:border file:border-lightgray file:rounded-lg file:cursor-pointer;
  }
  input::placeholder,
  textarea::placeholder {
    @apply font-extralight;
  }

  /** profile page **/ 
  .profile-section {
    @apply relative px-8 py-6 flex flex-col gap-2 bg-white shadow-[0_1px_3px_rgba(0,0,0,0.04)] border border-black/5 rounded-xl;
  }
  .profile-section-heading {
    @apply pb-1 flex items-end justify-between xl:pb-2;
  }
  .profile-section-photos {
    @apply grid grid-cols-2 gap-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-3;
  }
  .profile-section-highlights {
    @apply grid grid-cols-2 gap-2 sm:grid-cols-4;
  }
}

body {
  background: var(--color-snowwhite);
  color: var(--color-charcoal);
}