@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --color-lightpink: #FDECEF;
  --color-dustypink: #E8B4BC;
  --color-lightgray: #D9DCE1;
  --color-coolbeige: #EAE3DC;
  --color-darkpink: #B35A72;
  --color-mauve: #8A4257;
  --color-slategray: #6C6F7D;
  --color-charcoal: #3B3B3B;
  --color-snowwhite: #FAFAFA;
}

@theme inline {
  --input-shadow: 0 0 4px rgba(0,115,187,.3);
  --modal-background: rgba(0,0,0,.8);
}

@layer components {
  .nav-layout {
    @apply fixed top-0 h-[60px] w-full px-8 flex items-center justify-center z-99 bg-coolbeige md:h-[80px] xl:px-16;
  }
  .nav-layout-inner {
    @apply max-w-[1440px] w-full flex justify-between;
  }
  .page-layout {
    @apply relative min-h-screen h-auto w-screen p-8 flex items-center justify-center bg-coolbeige xl:p-16;
  }
  .page-layout-inner {
    @apply max-w-[1440px] w-full flex flex-col items-center;
  }
  .gated-page-layout {
    @apply relative top-[60px] h-[calc(100vh-60px)] w-screen box-border p-8 flex justify-center md:top-[80px] md:h-[calc(100vh-80px)] xl:p-16;
  }
  .gated-page-layout-inner {
    @apply max-w-[1440px] w-full flex flex-col space-y-6 xl:space-y-8;
  }
  .search-page-layout {
    @apply relative top-[60px] h-[calc(100vh-60px)] w-screen overflow-y-auto md:top-[80px] md:h-[calc(100vh-80px)];
  }
  .search-page-layout-inner {
    @apply min-h-full max-w-[1440px] px-8 py-16 mx-auto flex flex-col items-center justify-start sm:py-[clamp(96px,20vh,220px)] xl:px-16;
  }
  .form-layout {
    @apply h-fit max-w-3xl px-8 py-6 bg-snowwhite rounded-3xl xl:px-12 xl:py-10;
  }
  .form-heading {
    @apply pb-2 text-2xl font-semibold text-center xl:text-3xl;
  }
  .form-paragraph {
    @apply pb-4 text-base font-semibold text-center;
  }
  .modal {
    @apply fixed h-full w-full inset-0 flex items-center justify-center bg-(--modal-background) z-99;
  }
  .modal-inner {
    @apply relative max-h-[90%] w-[90%] px-4 py-4 bg-snowwhite rounded-lg overflow-scroll lg:w-3/5 lg:px-6 lg:py-8 xl:w-2/5;
  }
  .modal-alert-inner {
    @apply relative w-[90%] px-4 py-4 flex flex-col gap-4 bg-snowwhite rounded-lg overflow-scroll lg:w-2/5 lg:px-6 lg:py-8 xl:w-1/5;
  }
  .modal-heading {
    @apply text-2xl font-semibold text-darkpink lg:text-3xl;
  }
  .modal-alert-heading {
    @apply text-2xl font-semibold text-darkpink;
  }
  .cards {
    @apply pb-8 grid gap-8 md:grid-cols-2 lg:grid-cols-3 lg:gap-16 xl:pb-16 xl:grid-cols-4;
  }
  .cards-outline {
    @apply relative p-4 flex border border-lightgray rounded-3xl;
  }
  .review-cards {
    @apply mt-6 grid gap-6 lg:grid-cols-2 lg:gap-8;
  }
  .menu-modal {
    @apply absolute min-w-30 p-2 flex flex-col gap-2 bg-snowwhite border border-lightgray rounded-sm z-99;
  }
  .menu-modal-item {
    @apply px-2 py-1 text-left rounded-sm cursor-pointer hover:bg-lightpink;
  }
  .button-primary {
    @apply min-w-[100px] px-4 py-2 self-start text-snowwhite font-bold bg-darkpink rounded-lg cursor-pointer hover:bg-mauve transition-colors;
  }
  .button-secondary {
    @apply min-w-[100px] px-4 py-2 self-start text-darkpink font-bold bg-transparent border border-darkpink rounded-lg cursor-pointer hover:text-mauve hover:border-mauve transition-colors;
  }
  .link {
    @apply text-darkpink cursor-pointer hover:text-mauve transition-colors;
  }
  .breadcrumb-link {
    @apply font-semibold hover:text-mauve transition-colors;
  }
  .input {
    @apply px-2 py-1 mb-6 border border-charcoal rounded-sm focus:outline-none focus:border-darkpink focus:shadow-(--input-shadow);
  }
  textarea.input {
    @apply h-[100px] lg:h-auto
  }
  .input-file {
    @apply file:px-3 file:py-1 file:mr-2 file:font-semibold file:border file:border-charcoal file:rounded-lg file:cursor-pointer;
  }
  .page-heading {
    @apply text-3xl font-semibold xl:text-4xl;
  }
  .page-subheading {
    @apply pb-2 text-xl font-semibold xl:text-2xl;
  }
  .review-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .profile-section {
    @apply relative px-8 py-6 flex flex-col gap-2 bg-white shadow-[0_1px_3px_rgba(0,0,0,0.04)] border border-black/5 rounded-xl;
  }
  .profile-section-heading {
    @apply text-lg text-slategray font-semibold uppercase xl:text-xl;
  }
  .profile-section-photos {
    @apply grid grid-cols-3 gap-1;
  }
}

body {
  background: var(--color-snowwhite);
  color: var(--color-charcoal);
}