@import 'tailwindcss';

@theme {
  --color-lightpink: #FDECEF;
  --color-dustypink: #E8B4BC;
  --color-lightgray: #D9DCE1;
  --color-coolbeige: #EAE3DC;
  --color-darkpink: #B35A72;
  --color-mauve: #8A4257;
  --color-slategray: #6C6F7D;
  --color-charcoal: #3B3B3B;
  --color-snowwhite: #FAFAFA;
}

@theme inline {
  --input-shadow: 0 0 4px rgba(0,115,187,.3);
  --modal-background: rgba(0,0,0,.8);
}

@layer components {
  .page-layout {
    @apply relative min-h-screen h-auto w-screen p-8 flex items-center justify-center bg-coolbeige xl:p-16;
  }
  .page-layout-inner {
    @apply max-w-[1440px] w-full flex flex-col items-center;
  }
  .gated-page-layout {
    @apply relative top-[80px] min-h-[calc(100vh-80px)] h-auto w-screen box-border p-8 flex justify-center xl:p-16;
  }
  .gated-page-layout-inner {
    @apply max-w-[1440px] w-full flex flex-col space-y-6 xl:space-y-8;
  }
  .form-layout {
    @apply h-fit max-w-3xl px-8 py-6 bg-snowwhite rounded-3xl xl:px-12 xl:py-10;
  }
  .modal {
    @apply fixed h-full w-full inset-0 flex items-center justify-center bg-(--modal-background) z-99;
  }
  .modal-inner {
    @apply relative max-h-[90%] w-[90%] px-4 py-4 bg-snowwhite rounded-lg overflow-scroll lg:w-3/5 lg:px-6 lg:py-8 xl:w-2/5;
  }
  .modal-alert-inner {
    @apply relative w-[90%] px-4 py-4 flex flex-col gap-4 bg-snowwhite rounded-lg overflow-scroll lg:w-2/5 lg:px-6 lg:py-8 xl:w-1/5;
  }
  .modal-heading {
    @apply text-2xl font-semibold text-darkpink lg:text-3xl;
  }
  .modal-alert-heading {
    @apply text-2xl font-semibold text-darkpink;
  }
  .cards {
    @apply grid gap-8 md:grid-cols-2 lg:grid-cols-3 lg:gap-16 xl:grid-cols-4;
  }
  .menu-modal {
    @apply absolute min-w-30 p-2 flex flex-col gap-2 bg-snowwhite border border-lightgray rounded-sm z-99;
  }
  .menu-modal-item {
    @apply px-2 py-1 text-left rounded-sm cursor-pointer hover:bg-lightpink;
  }
  .button-primary {
    @apply min-w-[100px] px-4 py-2 self-start text-snowwhite font-bold bg-darkpink rounded-lg cursor-pointer hover:bg-mauve transition-colors;
  }
  .button-secondary {
    @apply min-w-[100px] px-4 py-2 self-start text-darkpink font-bold bg-transparent border border-darkpink rounded-lg cursor-pointer hover:text-mauve hover:border-mauve transition-colors;
  }
  .input {
    @apply px-2 py-1 mb-6 border border-charcoal rounded-sm focus:outline-none focus:border-darkpink focus:shadow-(--input-shadow);
  }
}

body {
  background: var(--color-snowwhite);
  color: var(--color-charcoal);
}